// Default colors

$color-default-white: #ffffff;
$color-default-black: #000000;
$color-transparent: rgba(0, 0, 0, 0);

// Project colors

$color-basis: #484848;
$color-main: #f1f1f1;
$color-text: #0e0e0e;
$color-text-green: #04251a;
$color-border: #e4e4e4;
$color-highlight: #00ffa9;

// Typography

$fz-default: 16px;

// Viewports

$vp-375: 375px;
$vp-768: 768px;
$vp-920: 920px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1600: 1600px;
$vp-1920: 1920px;
